<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/search-style.css">
        <link rel="stylesheet" href="../css/search-mobile-style.css" media="(max-width:820px)">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Graduate">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kelly+Slab">
        
        <title>Search panel</title>
    </head>

    <body>
        <div class="container">
            <div class="box">
                <div class="search-table-box">
                    <div class="table-title">
                        search for city
                    </div>
                    <div class="search-table">
                        <div class="row input-row">
                            <input class="row search-input" type="text" name="search" placeholder="Type city name, country or geographic coord">
                        </div>
                        <div class="table-label">
                            Founded 5 cities
                        </div>
                        <div class="records">
                            <div class="row">
                                    gran canaria
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </body>
</html>