.row > :nth-child(2) {
    display: none
}

.title-row > :first-child {
    border-right: 1px solid #000;
}

.row {
    grid-template-columns: 2fr 1fr;
}

.box {
    align-items: center;
    font-size: max(10px, 2vw);
}