.box {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10fr 1fr;
}

.login-form {
    height: 50vh;
    background-color: #D9D9D9;
    border-radius: 1.2em;
    display: flex;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
}

form {
    display: flex;
    height: 100%;
    width: 60%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

form > * {
    width: 100%;
}

.form-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.text {
    grid-row: 1 / span 2;
    grid-column: 1;
}

.text > div {
    font-family: 'Graduate';
    color: white;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control > label {
    margin-left: 1ch;
    font-weight: bold;
    font-size: 1.2em;
}

.input-control > input {
    background-color: transparent;
    border-radius: 2em;
    border: 1px solid #000;
    padding: 0.5em;
    box-shadow: 2px 2px 2px #00000025, -2px 2px 2px #00000025;
    font-size: 1em;
}

.title {
    font-size: 6em;
}

.description {
    font-size: 3em;
}

.register-link {
    text-align: center;
    text-decoration: none;
    color: #054D87;
    font-weight: bold;
}

.language {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
    margin-right: 2%;
    align-self: end;
    display: flex;
}

.language > select {
    background-color: #D9D9D9;
    padding: 15%;
    border-radius: 15px;
}

.lang {
    text-transform: uppercase;
    background-color: #D9D9D9;
}

button {
    font-size: 1.2em;
}