.followed-table-box {
    height: 100%;
    justify-content: flex-start;
}

.box {
    display: flex;
}

.records {
    display: grid;
    grid-auto-rows: 30%;
    gap: 2%
}

.table-label {
    font-size: 1.5vw;
    font-family: 'Graduate';
    align-self: flex-end;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-row {
    width: 100%;
    background-color: transparent;
}

.search-input {
    width: 100%;
    border: 1px solid #000;
    color: #548D88;
    padding: 2% 1%;
    font-size: 1vw;
}

.search-input::placeholder {
    color: #548D88;
}