* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    margin: 0;
    font-size: 1.2vw;
}


.container {
    background-image: linear-gradient(-90deg, #076DBF, #000);
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 2em;
    border: 0px;
    background-color: #548D88;
    padding: 0.5em;
    color: white;
    box-shadow: 2px 2px 2px #00000025, -2px 2px 2px #00000025;
}

.records {
    overflow-y: auto;
    max-height: 26vh;
    width: 100%;
    scroll-snap-type: y mandatory;
    scrollbar-gutter: stable both-edges;
}

.records:last-child {
    margin-bottom: 0;
}

.records > .row {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}


.table-title, .label, .col-value {
    font-family: 'Graduate';
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1%;
}