.box {
    display: flex;
    margin: auto;
}


.search-table {
    text-transform: uppercase;
    background-color: #EFEFEF;
    padding: 1em 2%;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80%;
}



.table-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.records {
    display: grid;
    grid-auto-rows: 30%;
    gap: 0.5em;
}

.table-label {
    font-size: 1.5em;
    font-family: 'Graduate';
    align-self: flex-end;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    background-color: #E8E8E8;  
    margin-bottom: 5px;
}


.records > .row {
    font-family: 'Graduate';
    font-size: 2em;
    text-align: center;
    padding: 2% 0;
}

.input-row {
    width: 100%;
    background-color: transparent;
}

.search-input {
    width: 100%;
    border: 1px solid #000;
    color: #548D88;
    padding: 2% 1%;
    font-size: 1.5em;
}

.search-input::placeholder {
    color: #548D88;
}
