.box {
    display: grid;
    margin: auto;
}

.user-table {
    background-color: #EFEFEF;
    padding: 1% 2%;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-box {
    position: relative;
}

.records {
    max-height: 60vh;
    display: grid;
    gap: 5px;
}


.row {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    background-color: #E8E8E8;
}

.row > div {
    text-align: center;
}

.user-actions > button {
    background-color: transparent;
    box-shadow: none;
}

.user {
    font-family: 'Graduate';
    text-transform: uppercase;
    font-size: 1.3em;
}

.actions {
    position: absolute;
    bottom: 5px;
}

